@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-body: "Open Sans", "sans-serif";
  --color-primary: #005799;
  --color-accent: #DAECE2;
  --color-dark: #333333;
  --color-gray: #959595;
  --color-error: #AD1E24;
}

html {
  @apply font-body;
}

h1 {
  @apply text-2xl md:text-3xl lg:text-4xl font-extrabold;
}
legend {
  @apply text-xl lg:text-2xl font-extrabold;
}

h1, h2, legend , p, li, label, span {
  @apply text-dark;
}